@model IEnumerable<CommonLayer.Employee>

@{
    ViewData["Title"] = "EmployeeList";
}

<h1>EmployeeList</h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-outline-primary ">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model) 
{
        <tr>



            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img class="Profile-image-1 " src=" @Html.DisplayFor(modelItem => item.ProfileImage)" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>

            <td>
                @Html.ActionLink("Edit", "Create", new { Id = item.Id, item.Name, item.ProfileImage, item.Gender, item.Salary, item.StartDate, item.Description, item.Department, }, new { @class = "btn btn-success" }) |

                @Html.ActionLink("Delete", "DeleteEmployee", new { item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Do you really want to delete this record?')" })
            </td>



        </tr>
        
}
    </tbody>
</table>
